@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/todo.css" rel="stylesheet" />
<!--For angularjs intellisense, please see https://github.com/jmbledsoe/angularjs-visualstudio-intellisense -->
<!--For more please see https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html#layout    -->
<!-- header logo: style can be found in header.less -->
<header class="main-header" ng-controller="XFrameworkHeaderCtrl">
    <a href="#/dashboard" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        XFramework
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#/" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-toggle-aside-lte>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu" uib-dropdown>
                    <a href="#/" class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-envelope"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                @*slimscroll="{ height: '200px', size:'3px', alwaysVisible: false }"*@
                                <li>
                                    <!-- start message -->
                                    <a href="#/">
                                        <div class="pull-left">
                                            <img src="~/Content/img/avatar.png" class="img-circle" alt="User Image" />
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li><!-- end message -->
                                <li>
                                    <a href="#/">
                                        <div class="pull-left">
                                            <img src="~/Content/img/avatar2.png" class="img-circle" alt="user image" />
                                        </div>
                                        <h4>
                                            AdminLte Design Team
                                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <div class="pull-left">
                                            <img src="~/Content/img/avatar.png" class="img-circle" alt="user image" />
                                        </div>
                                        <h4>
                                            Developers
                                            <small><i class="fa fa-clock-o"></i> Today</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <div class="pull-left">
                                            <img src="~/Content/img/avatar2.png" class="img-circle" alt="user image" />
                                        </div>
                                        <h4>
                                            Sales Department
                                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <div class="pull-left">
                                            <img src="~/Content/img/avatar.png" class="img-circle" alt="user image" />
                                        </div>
                                        <h4>
                                            Reviewers
                                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#/">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu" uib-dropdown>
                    <a href="#/" class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-warning"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" slimscroll="{ height: '200px', size:'3px', alwaysVisible: false }">
                                <li>
                                    <a href="#/">
                                        <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <i class="fa fa-users warning"></i> 5 new members joined
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <i class="ion ion-ios7-cart success"></i> 25 sales made
                                    </a>
                                </li>
                                <li>
                                    <a href="#/">
                                        <i class="ion ion-ios7-person danger"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#/">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu" uib-dropdown ng-controller="todoController">
                    <a href="#/" class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-tasks"></i>
                        <span class="label label-danger">{{remainingCount}}</span>
                    </a>
                    <ul class="dropdown-menu" id="todo-list">
                        @*<li class="header">You have {{remainingCount}} tasks</li>*@
                        <li class="header" ng-click="$event.stopPropagation()">
                            <form id="todo-form" ng-submit="addTodo()">
                                <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
                            </form>
                        </li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" slimscroll="{ height: '200px', size:'3px', alwaysVisible: false }">
                                <li ng-repeat="todo in todos | filter:searchStatus" ng-class="{completed: todo.status==2}">
                                    <!-- Task item -->
                                    <a href="#" ng-click="popupModal(todo);$event.stopPropagation();$event.preventDefault();">
                                        <h3>
                                            <label>{{todo.title}}</label>
                                        </h3>
                                        <uib-progressbar class="progress-striped active" max="100" min="0" type="success" value="todo.status==2?'100':'50'">
                                            <i>{{todo.status==2?100:50}}%</i>
                                        </uib-progressbar>
                                    </a>
                                </li>
                                <!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#/">View all tasks</a>
                            <div class="btn-group" ng-click="$event.stopPropagation()" ng-init="searchStatus.status=0">
                                <label class="btn btn-primary" ng-model="searchStatus.status" uib-btn-radio="0">New</label>
                                <label class="btn btn-primary" ng-model="searchStatus.status" uib-btn-radio="1">Active</label>
                                <label class="btn btn-primary" ng-model="searchStatus.status" uib-btn-radio="2">Completed</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" uib-dropdown>
                    <a href="#/" class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="glyphicon glyphicon-user"></i>
                        <span><span class="hidden-xxs">username</span><i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="~/Content/img/avatar3.png" class="img-circle" alt="User Image" />
                            <p>
                                Jane Doe - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#/">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#/">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#/">Friends</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#/" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#/" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="" class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-language"></i><span class="hidden-xxs">Language</span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{ active: isLanguageActive('it-IT')}"><a href="" ng-click="changeLanguage('it-IT')"><span class="flag-icon flag-icon-it"></span> Italiano</a></li>
                        <li ng-class="{ active: isLanguageActive('en-US')}"><a href="" ng-click="changeLanguage('en-US')"><span class="flag-icon flag-icon-us"></span> English</a></li>
                        <li class="divider"></li>
                        <li ng-class="{ active: isLanguageActive('fr-FR')}"><a href="" ng-click="changeLanguage('fr-FR')"><span class="flag-icon flag-icon-fr"></span> French</a></li>
                        <li ng-class="{ active: isLanguageActive('de-DE')}"><a href="" ng-click="changeLanguage('de-DE')"><span class="flag-icon flag-icon-de"></span> German</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar sidebar-offcanvas" ng-controller="XFrameworkMenuCtrl">
    <!-- sidebar: style can be found in sidebar.less -->
    @*slimscroll="{ color: 'rgba(0,0,0,0.2)', height: 'full', removeFromFullHeight: ['.header'], alwaysVisible: false }"*@
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/img/avatar3.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, Jane</p>
                <a href=""><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>*@
        <!-- /.search form -->
        <!-- sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview" ng-repeat="e in menuEntries" ng-class="{ active: isMenuActive(e.baseUrl || e.url) }">
                <a ng-href="{{e.url}}" ng-click="expandMenuItem(e, $event)">
                    <i class="fa" ng-class="e.icon"></i> <span>{{e.text}}</span>
                    <small ng-show="e.badge" class="badge pull-right" ng-class="e.badge.style">{{e.badge.text}}</small>
                    <i ng-show="e.menuEntries" class="fa pull-right" ng-class="{ 'fa-angle-left': !e.isExpanded && !isMenuActive(e.baseUrl || e.url), 'fa-angle-down': e.isExpanded || isMenuActive(e.baseUrl || e.url) }"></i>
                </a>
                <ul ng-show="e.isExpanded || isMenuActive(e.baseUrl || e.url)" style="display: block" class="treeview-menu">
                    <li ng-repeat="se in e.menuEntries" ng-class="{ active: isMenuActive(se.baseUrl || se.url) }">
                        <a ng-href="{{se.url}}"><i class="fa" ng-class="se.icon"></i> {{se.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="content-wrapper" ng-mobile-toggle-aside-lte>
    <div class="page" ng-view>
    </div>
</aside>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="#">XFramework</a>.</strong> All rights reserved.
</footer>